*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'playball', cursive;
    line-height: 1.5;
}
.title-text{
    font-size: 40px;
    text-align: center;
}
/* Nav Bar============ */
#menu-bar{
    width:50px;
    height: 5px;
    margin: 20px 10px 10px 20px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}
.bar{
    background: orange;
    border-radius: 10%;
    transition: 4s;
}
#bar1{
    width:40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width:40px;
    height: 10px;
}
#bar3{
    width:40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: white;
}
/* .change #bar1{
    transform: translateZ(6px);
    rotate: Z(-45deg);
}
.change #bar3{
    transform: translateZ(-15px);
    rotate: Z(-45deg);
} */
.change #bar1{
    opacity: 0;
}
.change #bar3{
    opacity: 0;
}
.nav li a{
    text-decoration: blue;
    color: orange;
    font-size: 20px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav li a:hover{
    color: white;
    background:  rgb(245, 9, 9);
    padding left: 10%;
}
.nav li{
    margin: 15px 10px 10px 5px;
    padding-top: 2px;
    list-style-type: none;
}
.nav{
display: none;
}
.change-btn{
   display: block;
}
/* End of Nav Bar============ */
/* ========Header======= */
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(images/background.jpg) center/cover no-repeat fixed;
    margin-top: auto;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}
.hero .title{
    color: white;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: blue;
    text-transform: uppercase;
    padding: 13px 20px;

    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: palegoldenrod;
    cursor: pointer;
    border: 2px solid orange;
    margin-top: 10px;
}
.hero-button:hover{
    background: white;
    color: orangered;
    border:none;
}
.pulsate{
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: black;

}
@-webkit-keyframes pulsate{
    0%{
        opacity: .3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: .3;
    }
}
/* ========End of Header======= */

/* ============About Us=========== */

#about{
    padding: 40px;
}
.about{
    margin: 30px  0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: orangered;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 15px);
    }
}
@media screen and (min-width: 972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/* ===========End of About us========= */
/* Menu section=========== */
.menu-image{
    min-height: 80vh;
    background:url(images/background2.jpg)center/cover fixed no-repeat; 
}
.menu-text{
    min-height: 80vh;
    align-items: center;
    background: orange;
    columns: black;
    padding: 40px 0;
}
.menu-text-center{
    width: 90%;
    margin: 0 auto;
}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-text p{
    margin: 20px 0;
    line-height: 2;
}
.menu-text a{
    display:inline-block;
    text-decoration: palevioletred;
    text-transform: uppercase;
    padding:13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: orange;
    cursor: pointer;
    border: 2px solid #000;
}
.menu-text a:hover{
    color: orange;
    background: white;
    border: none;
}
@media screen and (min-width: 776px){
    .menu{
        display: flex;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0,100% 0, 50% 100%,0 100%);
    }
}
.menu{
    background: orange;
}
/* End of Menu section======== */
/* social icons============*/
#social-icons{
    height: 150px;
    background: white;
    text-align: center;
    padding: 50px 0 50px 0;

}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color:#3b5998;
}
.twitter{
    color: #38a1f3;
}
.instagram{
    color: #e1306c;
}
.pinterest{
    color: rgb(245, 9, 9);
}
/* End of Social icons========== */
/* Numbers=============== */
.number{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(images/background5.jpg)center/cover  no-repeat fixed;    
    padding: 60px 0;
    color: white;
}
.number p{
    font-size: 30px;
    font-weight: bold;
}
.number:hover{
    color: orange;

}
.number .fas{
    font-size: 60px;
    margin: 20px 0;

}
.number h3{
    text-transform: uppercase;
}
@media screen and (min-width: 576px){
    #number{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    #number{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* End of Numbers============ */

/* ===========Menu page-============== */

/* Cards=========== */
#food{
    padding: 20px;
}
.food-container{
    max-width: 90vw;
    margin: 0 auto;
}
.food-card{
    position: relative;
    background: linear-gradient(rgba(205,96,0,0.7),rgba(205,96,0,0.9));
    margin: 20px 0;
    color: black;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
}
#food img {
width:100%;
min-height: 100%;
display: block;
transition: transform 4s;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}
img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left:0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: black;
    transition: opacity 4s;
}
.img-text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.food-card:hover img{
    opacity: 0.4;
    transform: scale(1.3);
}
.food-card:hover .img-text,
.food-card:hover .img-footer{
    opacity: 1;
}
.food-btn{
    display: inline-block;
    background: black;
    text-decoration: sandybrown;
    padding: 12px 32px;
    color: white;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    outline: none;
}
.food-btn:hover{
    color: orange;
    background: white;
    border: black;
    outline: none;
}
.fas{
    font-size: 30px;
}
@media screen and (min-width: 576px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    }
}@media screen and (min-width: 500px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
    }
}
/* End of Cards=============== */

